*
{
	padding:0px;
	margin:0px;
}
body
{
	background-image:url(images/bg1.png);
}
#main
{
	margin-left:auto;
	margin-right:auto;
	background-color:white;
	width:1000px;
	min-height:100%;
    border-left:#e9e9e9 solid 5px;
    border-right:#e9e9e9 solid 5px;
     padding:30px;
}
#companyTitle
{
	width:221px;
	height:90px;
	float:left;
	margin-left:30px;
}
#navigationBar
{
	width:600px;
	background-color:black;
	float:right;
	height:50px;
	padding-left:10px;
	border-radius:6px;
	margin-top:20px;
}
#navigationBar ul
{
	list-style:none;
}
#navigationBar ul li
{
	width:90px;
	float:left;
	line-height:50px;
	text-align:center;
	margin-left:10px;
}
#navigationBar ul li a
{
	color:white;
	font-size:22px;
	font-weight:bold;
	text-decoration:none;
}
#introImage
{
	margin-top:100px;
	border:10px solid #CCCCCC;
	border-radius:5px;
	width:880px;
	height:218px;
	padding:50px;
	background-image:url(images/banner1.png);
}
#introImage h1
{
	width:350px;
	font-size:36px;
	padding-bottom:5px;
	border-bottom:dotted 1px black;
}
#introImage p
{
	width:350px;
	margin-top:15px;
	font-size:20px;
}
#linkButton
{
	width:300px;
	height:28px;
	color:white;
	padding:3px;
	line-height:28px;
	text-align:center;
	margin-top:15px;
	border-radius:5px;
	background-color:#333333;	
	}
#linkButton:hover
{
	background-color:black;

}
#leftContainer
{
	background-color:black;
	width:70%;
	margin-top:20px;
	height:100%;
	float:left;
	}
#rightContainer
{
	background-color:black;
	width:25%;
	margin-top:20px;
	margin-left:5%;
	height:100%;
	float:left;
	}







